.image-modal-:hover {
    filter: brightness(1.1);
}

#show-img-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 5;
    height: 100vh;
    width: 100vw;
    
    display: none;
    align-items: center;
    justify-content: center;
    background-color: var(--background);
}
#show-img {
    display: block;
    max-height: 100vh;
    max-width: 100vw;
}
