body > header {
    height: 100vh;
    width: 100%;

    display: flex;
    justify-content: center;
    align-items: center;

    /* Foto von eberhard grossgasteiger: https://www.pexels.com/de-de/foto/bergbedeckter-schnee-unter-stern-572897/ */

    scroll-snap-align: center;
}
body > header > div {
    display: grid;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    background-image: url('../imgs/pexels-eberhard-grossgasteiger-572897.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;  
}

body > header > div > h1 {
    align-self: center;
    text-align: center;
    line-height: normal;

    font-size: 10vw;

    color: var(--theme-independent-dark-text);
    padding: 0 5rem;
    background-color: var(--background-transparent-light);
}

body > footer {
    height: 100vh;
    text-align: center;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    padding: 1rem;
    margin-top: 1rem;

    background-color: var(--footer);

    scroll-snap-align: center;
}

footer > a {
    font-size: var(--font-size-small);
    color: var(--link-contrast-text);

    margin-top: 1rem;
}
footer > a:hover {
    color: var(--link-contrast-hover-text);
    background-color: var(--link-contrast-hover-bg);
}
