#nav-container {
    position: fixed;
    top: 0;

    width: 100%;

    display: grid;
    justify-content: center;
    align-items: center;

    background-color: var(--background);

    z-index: 5;
}

#links {
    height: 100%;
    width: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
}

#links > a {
    height: 100%;
    
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;

    font-size: 1.4rem;

    padding: 1rem 2rem;
    border-bottom: .1rem solid transparent; /* see hover state */
}
#links > a:hover {
    color: var(--link-hover-text);
}
#links > a.active {
    color: var(--link-hover-text);

    border-bottom: .1rem solid var(--link-hover-text);
}

#nav-screen {
    display: none;
}

#menu {
    display: none;
    align-self: end;
    grid-template-rows: 1fr 1fr;
    justify-content: space-between;

    padding: 1rem 0;
}

.menu-line {
    height: .2rem;
    width: 3.4rem;

    margin: .4rem;

    background-color: var(--text);

    border-radius: 5px;
}

#menu:hover > .menu-line {
    background-color: var(--link-hover-text);
    transition: var(--transition-slow);
}

@media only screen and (max-width: 500px) {
    #links {
        display: none;
    }
    #nav-container {
        /* background-color: transparent; */

        justify-content: end;
    }

    #menu {
        display: grid;
    }
    #menu.active :nth-child(1) {
        transform: rotate(45deg) translateX(.35rem) translateY(.35rem);
    }
    /* #menu.active :nth-child(2) {
        transform: translateX(-3rem);
        opacity: 0;
    } */
    #menu.active :nth-child(2) {
        transform: rotate(135deg) translateX(-.35rem) translateY(.35rem);
    }

    #nav-screen {
        position: fixed;

        height: 100vh;
        width: 100vw;

        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

        opacity: 0;
        z-index: -1;
        
        transition: var(--transition-slow);

        background-color: var(--background);
    }
    #nav-screen.active {
        /* visibility: visible; */
        opacity: 1;
        z-index: 1;
    }
    #nav-screen a {
        height: 4rem;
        width: 100%;

        display: grid;
        justify-content: center;
        align-items: center;

        color: var(--link-text);
    }
    #nav-screen a:hover,
    #nav-screen a.active {
        color: var(--link-hover-text);
        background-color: var(--link-hover-bg);
    }
}
